#qtcreator
/.qtcreator/
/build/

#vscode
/.vscode/

#clion
/.idea/
/cmake-build-*/

#cmake
/bin/
/lib/
/cache/
*.qm
compile_commands.json

#runtime
*.db
*.log

#system temp
.DS_Store
Thumbs.db
*~
core.*
